<div>
    <h2>
        Detalle de usuario
    </h2>
    <h4>
        Name
    </h4>
    <span>
        {{user.name}}
    </span>
    
    <h4>
        Last Name
    </h4>
    <span>
        {{user.lastname}}
    </span>
    
    <h4>
        Email
    </h4>
    <span>
        {{user.email}}
    </span>
    
    <h4>
        Phone Number
    </h4>
    <span>
        {{user.phonenumber}}
    </span>
    
    <h4>
        User type
    </h4>
    <span>
        {{user.usertype}}
    </span>
    <h4>
        Perfil image
    </h4>
    <img [src]="user.image" alt="asasdasd">

</div>